#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 25%;
}

main {
    text-align: center;
}


/* .flex-container {
    display: flex;
    width: 100%
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
} */

#contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

#footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}